name: custom_date_range_picker
description: A Flutter package for both android and iOS which provides a custom date range picker
version: 1.0.6
homepage: https://github.com/El-Mazouzi/custom_date_range_picker

environment:
  sdk: ">=2.17.1 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter: null
